### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

# IntelliJ project files
out/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### OS / Editor ###
# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*.swp

### Logs ###
logs/

### IDEs ###
# VS Code (falls du es mal nutzt)
.vscode/
